.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.sidebar .nav-link {
    color: #f8f9fa;
    padding: 10px 15px;
    border-radius: 4px;
}

.sidebar .nav-link:hover {
    background-color: #495057;
    color: #fff;
}

.sidebar .nav-link.active {
    background-color: #0d6efd;
    color: #ffffff !important;
    font-weight: 600;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
    }
    .offcanvas {
        background-color: #343a40;
        color: white;
    }
    .offcanvas .nav-link {
        color: #f8f9fa;
        padding: 10px 15px;
        border-radius: 4px;
    }

    .offcanvas .nav-link:hover {
        background-color: #495057;
        color: #fff;
    }

    .offcanvas .nav-link.active {
        background-color: #0d6efd;
        color: #ffffff !important;
        font-weight: 600;
    }
}

.header-navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}
